{% extends "_base.html" %} {% block body %}

<div class="flex h-full">
  <aside class="w-64 border-r bg-neutral-900 border-neutral-700 shrink">
    <header class="flex justify-between py-2 pl-4 pr-2 leading-8">
      <p class="font-bold">{{ layout.logged_in_username }}</p>

      <form action="/logout" method="post">
        <button class="px-3 rounded text-neutral-400 hover:bg-neutral-800">
          Logout
        </button>
      </form>
    </header>
    <ul>
      {% for list in layout.lists %}
      <li>{{ list.title }}</li>
      {% endfor %}
    </ul>
  </aside>
  <main>{% block content %}{% endblock %}</main>
</div>

{% endblock %}
