{% import "_form.html" as form %}
{% extends "_layout.html" %}

{% block content %}
  <form
    action="/bookmarks/create"
    method="POST"
    class="flex flex-col max-w-xl mx-4 mb-4 grow"
    hx-post="/bookmarks/create"
    hx-target="main"
    hx-select="main"
    id="create_bookmark"
  >
    <header class="mt-3 mb-4">
      <h1 class="text-xl font-bold">Add a bookmark</h1>

      {% match selected_parent %}
        {% when Some with (parent) %}
        <p>
          to
          {%- match parent -%}
            {%- when db::LinkDestination::Bookmark with (bookmark) -%}
            <a
              class="leading-8 text-orange-100 hover:text-orange-300"
              href="{{ bookmark.path() }}"
            >
              📄 {{ bookmark.title }}
            </a>
            {%- when db::LinkDestination::Note with (note) -%}
            <a
              class="leading-8 text-fuchsia-100 hover:text-fuchsia-300"
              href="{{ note.path() }}"
            >
              ️🧵 {{ note.title }}
            </a>
            {% when _ %}
          {% endmatch %}
        </p>
        <input type="hidden" name="parent" value="{{ parent.id() }}" />
        {% when None %}
      {% endmatch %}
    </header>

    <label for="url">URL</label>
    {% call form::errors(errors, "url") %}
    <input
      type="text"
      name="url"
      placeholder="https://..."
      required
      value="{{ input.url }}"
      class="rounded py-1.5 px-3 mt-2 bg-neutral-900"
    />

    <label for="title" class="mt-4"> Title </label>
    {% call form::errors(errors, "title") %}
    <input
      type="text"
      name="title"
      required
      value="{{ input.title }}"
      class="rounded py-1.5 px-3 mt-2 bg-neutral-900"
    />

    {% call form::errors(errors, "root") %}

    <button
      type="submit"
      class="bg-neutral-300 py-1.5 px-3 text-neutral-900 rounded mt-4 self-end"
    >
      Add Bookmark
    </button>
  </form>
{% endblock %}
