{% import "_form.html" as form %}
{% import "_content.html" as content %}
{% extends "_layout.html" %}

{% block content %}
  <form
    action="/bookmarks/create"
    method="POST"
    class="flex flex-col max-w-xl mx-4 mb-4 grow"
    hx-post="/bookmarks/create"
    hx-target="main"
    hx-select="main"
    hx-push-url="true"
    id="create_bookmark"
  >
    <header class="mt-3 mb-4">
      <h1 class="text-xl font-bold">Add a bookmark</h1>
    </header>

    <label for="url">URL</label>
    {% call form::errors(errors, "url") %}
    <input
      type="text"
      name="url"
      placeholder="https://..."
      required
      value="{{ input.url }}"
      {# TODO move all labels 1 unit closer to inputs #}
      class="rounded py-1.5 px-3 mt-2 bg-neutral-900"
    />

    <label for="title" class="mt-4">Title </label>
    {% call form::errors(errors, "title") %}
    <input
      type="text"
      name="title"
      required
      value="{{ input.title }}"
      class="rounded py-1.5 px-3 mt-2 bg-neutral-900"
    />

    <label for="list_search_term" class="mt-4">Add to Lists</label>

    <div id="selected_lists">
      {% call form::errors(errors, "parents") %}
      {% for parent in selected_parents %}
        <label class="block leading-8 text-fuchsia-100">
          <span class="text-fuchsia-100">🧵 {{ parent.title }}</span>
          <input type="hidden" name="parents[]" value="{{ parent.id }}" />
        </label>
      {% endfor %}
      {% call form::errors(errors, "create_parents") %}
      {% for parent_name in input.create_parents %}
        <label class="block leading-8">
          New list <span class="text-fuchsia-100">🧵 {{ parent_name }}</span>
          <input
            type="hidden"
            name="create_parents[]"
            value="{{ parent_name }}"
          />
        </label>
      {% endfor %}
    </div>
    {% call form::errors(errors, "list_search_term") %}
    <input
      type="search"
      name="list_search_term"
      id="list_search_term"
      value="{{ input.list_search_term.as_deref().unwrap_or_default() }}"
      hx-trigger="input changed delay:300ms,search"
      hx-post="/bookmarks/create"
      hx-target="#search_results"
      hx-select="#search_results"
      hx-swap="outerHTML"
      class="rounded py-1.5 px-3 my-2 bg-neutral-900"
    />
    <div id="search_results">
      {% for list in search_results %}
        <button
          hx-post="/bookmarks/create"
          hx-params="not list_search_term"
          hx-select="#selected_lists"
          hx-target="#selected_lists"
          class="block w-full px-4 pt-1 pb-2 text-left rounded hover:bg-neutral-700 text-fuchsia-100"
          name="parents[]"
          value="{{ list.id }}"
        >
          ️🧵 {{ list.title }}
        </button>
      {% endfor %}
      {% if search_results.is_empty() %}
        {% if let Some(term) = input.list_search_term %}
          <button
            name="create_parents[]"
            value="{{ term }}"
            hx-post="/bookmarks/create"
            hx-params="not list_search_term"
            hx-select="#selected_lists"
            hx-target="#selected_lists"
            class="block w-full px-4 pt-1 pb-2 text-left rounded hover:bg-neutral-700 text-fuchsia-100"
          >
            Create list "{{ term }}"
          </button>
        {% endif %}
      {% endif %}
    </div>
    {% call form::errors(errors, "root") %}
    <button
      type="submit"
      name="submitted"
      value="true"
      hx-post="/bookmarks/create"
      hx-select-oob="#nav"
      class="bg-neutral-300 py-1.5 px-3 text-neutral-900 rounded mt-4 self-end"
      {# TODO Refresh whole page in case there's a new list in the sidebar #}
    >
      Add Bookmark
    </button>
  </form>
{% endblock %}
