{% import "_form.html" as form %}
{% import "_content.html" as content %}
{% extends "_layout.html" %}

{%- macro link_dest(link_dest) -%}
  {%- match link_dest -%}
    {%- when db::LinkDestination::Bookmark with (bookmark) -%}
    <p class="text-orange-100">📄 {{ bookmark.title }}</p>
    {% call content::link_url(bookmark.url) %}
    {%- when db::LinkDestination::List with (list) -%}
    <p class="text-fuchsia-100">️🧵 {{ list.title }}</p>
    {% when _ %}
  {% endmatch %}
{%- endmacro -%}

{% block content %}
  <form
    action="/links/create"
    method="POST"
    hx-post="/links/create"
    hx-select="form#create_link"
    hx-target="form#create_link"
    hx-swap="outerHTML"
    id="create_link"
    class="mx-4 mb-4"
  >
    <h1 class="pt-3 pb-4 text-xl font-bold">Add to list</h1>
    {%- match dest_from_db -%}
      {%- when Some with (dest) -%}
      <label class="block mb-4">
        <p class="mb-1">Item to add</p>
        {% call link_dest(dest) %}
        <input type="hidden" value="{{ dest.id() }}" name="dest" />
      </label>
      {%- when None -%}
    {%- endmatch -%}

    {%- match src_from_db -%}
      {%- when Some with (src) -%}
      <label class="block mb-2">
        <p class="mb-1">Adding to list</p>
        {% call link_dest(src) %}
        <input type="hidden" value="{{ src.id() }}" name="src" />
      </label>
      {%- when None -%}
    {%- endmatch -%}

    {%- if input.src.is_none() || input.dest.is_none() -%}
      {% let suffix %}
      {% let input_search_term %}
      {% let label %}
      {% if input.src.is_none() %}
        {% let suffix = "src" %}
        {% let input_search_term = input.search_term_src.clone() %}
        {% let label = "Adding to list" %}
      {% else %}
        {% let suffix = "dest" %}
        {% let input_search_term = input.search_term_dest.clone() %}
        {% let label = "Item to add" %}
      {% endif %}

      <label class="block my-2">
        <p class="mb-1">{{ label }}</p>
        {% call form::errors(errors, "search_term_src") %}
        {% call form::errors(errors, "search_term_dest") %}
        <input
          hx-trigger="input changed delay:300ms,search"
          hx-post="/links/create"
          hx-select="#search_results"
          hx-target="#search_results"
          type="search"
          name="search_term_{{ suffix }}"
          id="search_term_{{ suffix }}"
          value="{{ input_search_term.as_deref().unwrap_or_default() }}"
          class="rounded py-1.5 px-3 bg-neutral-900 w-full"
        />
      </label>
    {%- endif -%}

    <div id="search_results" class="overflow-y-scroll max-h-96">
      {% for list in search_results %}
        <button
          hx-post="/links/create"
          class="block w-full px-4 pt-1 pb-2 text-left rounded hover:bg-neutral-700"
          value="{{ list.id }}"
          {%- if input.src.is_some() -%}
            name="dest"
          {%- else -%}
            name="src"
          {%- endif -%}
        >
          <p class="text-fuchsia-100">️🧵 {{ list.title }}</p>
        </button>
      {% endfor %}
    </div>

    {% call form::errors(errors, "root") %}

    {% if input.src.is_some() && input.dest.is_some() %}
      {# TODO creating the link doesn't update the address bar #}
      <button
        type="button"
        name="submitted"
        value="true"
        class="bg-neutral-300 py-1.5 px-3 text-neutral-900 rounded mt-4 self-end"
        {# TODO is there a cleaner way to make this form work embedded on the lists page? #}
        hx-post="/links/create"
        hx-select="main"
        hx-target="main"
        hx-swap="innerHTML"
      >
        Create Link
      </button>
    {% endif %}
  </form>
{% endblock %}
