{% import "_form.html" as form %}
{% extends "_layout.html" %}

{% block content %}
  <form
    action="/lists/{{ list_id }}/edit_title"
    method="POST"
    class="flex flex-col max-w-xl mx-4 mb-4 grow"
  >
    <header class="mt-3 mb-4">
      <h1 class="text-xl font-bold">Rename list</h1>
    </header>

    <label for="title">New title</label>
    {% call form::errors(errors, "title") %}
    <input
      type="text"
      name="title"
      required
      value="{{ input.title }}"
      class="rounded py-1.5 px-3 mt-2 bg-neutral-900"
    />

    {% call form::errors(errors, "root") %}

    <button
      type="submit"
      class="bg-neutral-300 py-1.5 px-3 text-neutral-900 rounded mt-4 self-end"
    >
      Save Changes
    </button>
  </form>
{% endblock %}
