{% extends "_layout.html" %}
{% block content %}
  <header class="mx-4 mt-3 mb-4">
    <h1 class="text-xl font-bold">Welcome to linkblocks!</h1>
  </header>

  {# TODO add intro text: what can you do with linkblocks? How to get started? Where to get help? #}

  <ul class="flex flex-col max-w-sm gap-2 px-4">
    <li>
      <a
        class="block p-4 border rounded border-neutral-700 hover:bg-neutral-700"
        href="/bookmarks/create"
        >Add a bookmark</a
      >
    </li>
    <li>
      <a
        class="block p-4 border rounded border-neutral-700 hover:bg-neutral-700"
        href="/lists/create"
        >Create a list</a
      >
    </li>
    <li class="">
      <a
        class="block px-4 py-2 border rounded border-neutral-700 hover:bg-neutral-700"
        href="/profile"
        >Install the bookmarklet</a
      >
    </li>
  </ul>
  {# TODO add social links here #}
{% endblock %}
