{% import "_content.html" as content %}
{% extends "_layout.html" %}
{% block content %}
  <header class="px-4 pt-3 mb-4">
    <div class="flex items-center justify-between">
      <h1 class="text-xl font-bold">{{ list.title }}</h1>
    </div>
    <div class="flex flex-wrap text-sm gap-x-1 text-neutral-400">
      <p>by {{ metadata.user_description }}</p>
      ∙
      <p>{{ metadata.linked_bookmark_count }} bookmarks</p>
      ∙
      <p>{{ metadata.linked_list_count }} lists</p>
      {% if list.private %}
        ∙
        <p>private</p>
      {% endif %}
    </div>
    {% if let Some(content) = list.content %}
      {% if !content.is_empty() %}
        <p class="max-w-2xl mt-2 whitespace-pre-line">{{- content -}}</p>
      {% endif %}
    {% endif %}
  </header>
  {% if let Some(authed_info) = layout.authed_info %}
    {% if authed_info.user_id == list.user_id %}
      <section class="flex flex-wrap m-4 gap-x-4 gap-y-2">
        <a
          href="/links/create?dest_id={{ list.id }}"
          class="block px-4 py-1 border rounded hover:bg-neutral-700 border-neutral-700 w-max"
          >Add to other list</a
        >
        <form
          method="post"
          action="/lists/{{ list.id }}/edit_private"
          hx-post="/lists/{{ list.id }}/edit_private"
          hx-select="#edit_private"
          hx-target="this"
          id="edit_private"
        >
          <button
            class="block px-4 py-1 border rounded hover:bg-neutral-700 border-neutral-700 w-max"
            name="private"
            value="{{ !list.private }}"
            type="submit"
          >
            {% if list.private %}
              Make public
            {% else %}
              Make private
            {% endif %}
          </button>
        </form>
        <form
          method="post"
          action="/lists/{{ list.id }}/edit_pinned"
          id="edit_pinned"
        >
          <button
            class="block px-4 py-1 border rounded hover:bg-neutral-700 border-neutral-700 w-max"
            name="pinned"
            value="{{ !list.pinned }}"
            type="submit"
          >
            {% if list.pinned %}
              Unpin from sidebar
            {% else %}
              Pin to sidebar
            {% endif %}
          </button>
        </form>
        <a
          href="/lists/{{ list.id }}/edit_title"
          class="block px-4 py-1 border rounded hover:bg-neutral-700 border-neutral-700 w-max"
          >Rename</a
        >
        <a
          href="/bookmarks/create?parent_id={{ list.id }}"
          class="block px-4 py-1 border rounded hover:bg-neutral-700 border-neutral-700 w-max"
          hx-get="/bookmarks/create?parent_id={{ list.id }}"
          hx-target="closest section"
          hx-select="#create_bookmark"
          >Add new bookmark</a
        >
      </section>
    {% endif %}
  {% endif %}
  {% for link in links %}
    <section
      class="flex flex-wrap items-end gap-2 px-4 pt-4 pb-4 border-t border-neutral-700"
    >
      <div class="overflow-hidden">
        {% match link.dest %}
          {% when db::LinkDestinationWithChildren::List with (inner_list) %}
          <a
            class="block overflow-hidden font-semibold leading-8 hover:text-fuchsia-300 text-ellipsis whitespace-nowrap"
            href="/lists/{{ inner_list.list.id }}"
          >
            {{ inner_list.list.title }}
          </a>
          {% if let Some(content) = inner_list.list.content %}

            {% if !content.is_empty() %}
              <p class="max-w-2xl mt-2">{{- content -}}</p>
            {% endif %}
          {%- endif -%}

          {%- if inner_list.links.len() > 0 -%}
            <ul class="flex flex-col mt-2 gap-y-2">
              {% for link in inner_list.links %}
                {%- match link -%}
                  {%- when db::LinkDestination::Bookmark with (bookmark) -%}
                  <li>
                    <a
                      class="block leading-8 text-orange-100 hover:text-orange-300"
                      href="{{ bookmark.url }}"
                    >
                      {{ bookmark.title }}
                    </a>
                    {% call content::link_url(bookmark.url) %}
                  </li>
                  {%- when db::LinkDestination::List with (inner_inner_list) -%}
                  <li>
                    <a
                      class="block leading-8 text-fuchsia-100 hover:text-fuchsia-300"
                      href="/lists/{{ inner_inner_list.id }}"
                    >
                      {{ inner_inner_list.title }} →
                    </a>
                    {# TODO add number of bookmarks & lists #}
                  </li>
                  {% when _ %}
                {% endmatch %}
              {% endfor %}
            </ul>
          {% endif %}
          {% when db::LinkDestinationWithChildren::Bookmark with (bookmark) %}
          <a
            class="block overflow-hidden leading-8 text-orange-100 hover:text-orange-300 text-ellipsis whitespace-nowrap"
            href="{{ bookmark.url }}"
          >
            {{ bookmark.title }}
          </a>
          {% call content::link_url(bookmark.url) %}
        {% endmatch %}
      </div>
      {% if let Some(authed_info) = layout.authed_info %}
        <div
          class="flex flex-wrap justify-end flex-1 pt-2 text-sm basis-32 gap-x-2 text-neutral-400"
        >
          <a
            class="hover:text-neutral-100"
            href="/links/create?dest_id={{ link.dest.id() }}"
          >
            Connect
          </a>
          {% if authed_info.user_id == list.user_id %}
            <span>∙</span>
            <button
              class="hover:text-neutral-100"
              hx-delete="/links/{{ link.id }}"
              title="Remove from list"
            >
              Remove from list
            </button>
          {% endif %}
        </div>
      {% endif %}
    </section>
  {% endfor %}
{% endblock %}
