{% import "_content.html" as content %}
{% extends "_layout.html" %}
{% block content %}
  <header class="px-4 pt-3 mb-2">
    <div class="flex items-center justify-between">
      <h1 class="text-xl font-bold">{{ note.title }}</h1>
    </div>
    {% if let Some(content) = note.content %}
      {% if !content.is_empty() %}
        <p class="mt-2 whitespace-pre-line">{{- content -}}</p>
      {% endif %}
    {% endif %}
  </header>
  <section class="flex my-4">
    <a
      href="/bookmarks/create?parent_id={{ note.id }}"
      class="block px-4 py-1 ml-4 mr-2 border rounded hover:bg-neutral-700 border-neutral-700 w-max"
      hx-get="/bookmarks/create?parent_id={{ note.id }}"
      hx-target="closest section"
      hx-select="#create_bookmark"
      >Add new bookmark</a
    >
    <a
      href="/links/create?parent_id={{ note.id }}"
      class="block px-4 py-1 mx-2 border rounded hover:bg-neutral-700 border-neutral-700 w-max"
      hx-get="/links/create?src_id={{ note.id }}"
      hx-target="closest section"
      hx-select="#create_link"
      >Link an item</a
    >
  </section>
  {% for link in links %}
    <section class="px-4 py-4 border-t border-neutral-700">
      {% match link.dest %}
        {% when db::LinkDestinationWithChildren::Note with (note) %}
        <div class="flex justify-between leading-8">
          <a
            class="block overflow-hidden font-semibold hover:text-fuchsia-300 text-ellipsis whitespace-nowrap"
            href="/notes/{{ note.note.id }}"
          >
            {{ note.note.title }}
          </a>

          <button
            class="px-3 rounded hover:bg-neutral-700 text-neutral-400"
            hx-delete="/links/{{ link.id }}"
            title="Unlink"
          >
            Unlink
          </button>
        </div>
        {% if let Some(content) = note.note.content %}

          {% if !content.is_empty() %}
            <p class="mt-2">{{- content -}}</p>
          {% endif %}
        {%- endif -%}

        {%- if note.links.len() > 0 -%}
          <ul class="mt-2">
            {% for link in note.links %}
              {%- match link -%}
                {%- when db::LinkDestination::Bookmark with (bookmark) -%}
                <li class="my-2">
                  <a
                    class="block leading-8 text-orange-100 hover:text-orange-300"
                    href="{{ bookmark.url }}"
                  >
                    📄 {{ bookmark.title }} →
                  </a>
                  {% call content::link_url(bookmark.url) %}
                </li>
                {%- when db::LinkDestination::Note with (note) -%}
                <li class="my-2">
                  <a
                    class="block leading-8 text-fuchsia-100 hover:text-fuchsia-300"
                    href="/notes/{{ note.id }}"
                  >
                    ️🧵 {{ note.title }} →
                  </a>
                </li>
                {% when _ %}
              {% endmatch %}
            {% endfor %}
          </ul>
        {% endif %}
        {% when db::LinkDestinationWithChildren::Bookmark with (bookmark) %}
        <div class="flex justify-between leading-8">
          <a
            class="block overflow-hidden text-orange-100 hover:text-orange-300 text-ellipsis whitespace-nowrap"
            href="{{ bookmark.url }}"
          >
            📄 {{ bookmark.title }} →
          </a>
          <button
            class="px-3 rounded hover:bg-neutral-700 text-neutral-400"
            hx-delete="/links/{{ link.id }}"
            title="Unlink"
          >
            Unlink
          </button>
        </div>
        {% call content::link_url(bookmark.url) %}
      {% endmatch %}
    </section>
  {% endfor %}
{% endblock %}
