{% extends "_layout.html" %}
{% block content %}
  <header class="px-4 pt-3 mb-2">
    <h1 class="text-xl font-bold">{{ layout.logged_in_username }}</h1>
  </header>
  <section class="px-4">
    <h2 class="text-lg font-bold">Bookmarklet</h2>
    <p>Drag the following link to your bookmarks / favorites toolbar:</p>
    {#
        window.open(
  "{{ base_url }}/bookmarks/create?url="
  +encodeURIComponent(window.location.href)
  +"&title="
  +encodeURIComponent(document.title)
)
     #}
    <a
      class="block my-2 font-bold text-orange-200"
      href="javascript:(function()%7Bwindow.open(%0A%20%20%22{{ base_url }}%2Fbookmarks%2Fcreate%3Furl%3D%22%0A%20%20%2BencodeURIComponent(window.location.href)%0A%20%20%2B%22%26title%3D%22%0A%20%20%2BencodeURIComponent(document.title)%0A)%7D)()"
      >Add to linkblocks</a
    >
  </section>
{% endblock %}
