{% import "_content.html" as content %}
{% extends "_layout.html" %}
{% block content %}
  <header class="px-4 pt-3 mb-2">
    <div class="flex items-center justify-between">
      <h1 class="text-xl font-bold">Unlinked Bookmarks</h1>
    </div>
  </header>
  {% for bookmark in bookmarks %}
    <section class="px-4 py-4 border-t border-neutral-700">
      <div class="flex justify-between leading-8">
        <a
          class="block text-orange-100 hover:text-orange-300"
          href="{{ bookmark.url }}"
        >
          📄 {{ bookmark.title }} →
        </a>
        <a
          class="px-4 rounded hover:bg-neutral-600 text-neutral-200"
          href="/links/create?dest_id={{ bookmark.id }}"
          >Add to a note</a
        >
      </div>
      {% call content::link_url(bookmark.url) %}
    </section>
  {% endfor %}
{% endblock %}
