name: CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-D warnings"

# Disable all permissions by default (https://docs.zizmor.sh/audits/#excessive-permissions)
permissions: {}

# Prevent race conditions and runner minute waste
# https://docs.zizmor.sh/audits/#concurrency-limits
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-lint:
    name: Build & Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      packages: write # For uploading the container to GHCR

    services:
      postgres:
        image: postgres@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          components: clippy
          toolchain: stable

      - name: Setup rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2
        with:
          # For cargo-run-bin
          cache-directories: ".bin"
          # Prevent cache poisoning attacks for release workflow
          # zizmor: ignore[cache-poisoning]
          lookup-only: ${{ (startsWith(github.ref_name, 'v') && github.ref_type == 'tag') }}

      - name: Install REUSE tool
        run: pipx install reuse

      - name: Install cargo-run-bin
        run: cargo install --locked cargo-run-bin

      - run: cargo bin sqlx-cli migrate run
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432

      # Use --no-deps to prevent the justfile from trying to launch a new podman container for the db
      - run: cargo bin just --no-deps generate-database-info
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432

      - run: cargo bin just lint

      - run: cargo bin just generate-sbom

      - run: cargo bin just check-zizmor

      - name: Check for file changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "::error::Detected changes in the following files:"
            git status --porcelain
            echo "Diff:"
            git diff
            exit 1
          fi

      - run: cargo build --release --locked

      # Release in the same job to prevent slow copying of build artifacts between jobs
      # TODO: this will still run if the tests fail
      - name: podman login
        env:
          USER: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: podman login --username "$USER" --password "$PASSWORD" ghcr.io

      - run: podman system migrate

      - name: podman build linux/amd64
        run: podman build --format docker --platform linux/amd64 --manifest linkblocks -f Containerfile target/release

      - name: podman manifest push latest
        run: podman manifest push linkblocks ghcr.io/raffomania/linkblocks:latest
        if: github.ref == 'refs/heads/main'

      # For the release job
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: (startsWith(github.ref_name, 'v') && github.ref_type == 'tag')
        with:
          name: linkblocks
          path: target/release/linkblocks

  format-nightly:
    name: Check Formatting (nightly)
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: nightly
          components: "rustfmt"

      - name: Setup rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2
        with:
          # For cargo-run-bin
          cache-directories: ".bin"
          # Prevent cache poisoning attacks for release workflow
          # zizmor: ignore[cache-poisoning]
          lookup-only: ${{ (startsWith(github.ref_name, 'v') && github.ref_type == 'tag') }}

      - name: Install cargo-run-bin
        run: cargo install cargo-run-bin

      - run: cargo bin just format

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 30

    services:
      postgres:
        image: postgres@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: stable

      - name: Setup rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2
        with:
          # Prevent cache poisoning attacks for release workflow
          # zizmor: ignore[cache-poisoning]
          lookup-only: ${{ (startsWith(github.ref_name, 'v') && github.ref_type == 'tag') }}

      - name: cargo test
        run: cargo test
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
          SQLX_OFFLINE: true

  release-version:
    name: Release new version
    runs-on: ubuntu-latest
    permissions:
      packages: write # For uploading the container to GHCR
      contents: write # For creating a GitHub release
    needs: [test, build-lint, format-nightly]
    # Run for tags only
    if: (startsWith(github.ref_name, 'v') && github.ref_type == 'tag')
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Download release binary artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: linkblocks
          path: target/release

      - name: Get version from tag
        id: extract_version
        run: |
          version=${GITHUB_REF_NAME#v}
          version=${version//test-release/}
          echo "version=$version" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: podman build linux/amd64
        run: podman build --format docker --platform linux/amd64 --manifest linkblocks -f Containerfile target/release

      - name: podman login
        env:
          USER: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: podman login --username "$USER" --password "$PASSWORD" ghcr.io

      # Preparations complete: create release and push container

      - name: Create GitHub release
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/linkblocks
          tag: ${{ github.ref_name }}
          release_name: ${{ steps.extract_version.outputs.version }}
          asset_name: linkblocks-${{ steps.extract_version.outputs.version }}
          draft: true

      - name: podman manifest push tag version
        run: podman manifest push linkblocks ghcr.io/raffomania/linkblocks:${STEPS_EXTRACT_VERSION_OUTPUTS_VERSION}
        if: ${{ !contains(github.ref_name, 'test-release') }}
        env:
          # Prevent code injection by using an env var which is subject to normal shell quoting rules
          STEPS_EXTRACT_VERSION_OUTPUTS_VERSION: ${{ steps.extract_version.outputs.version }}
